<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= collection_select(:location, :id, Location.all, :id, :name, options ={:prompt => "Select a Location"}, :class =>"location")%>
  </div>
  <div class="field">
    <%= f.label :slot_id %><br />
    <%= collection_select(:slot, :id, Slot.all, :id, :selectOptions, options ={:prompt => "Select a time"}, :class =>"slot")%>
  </div>
  <div class="field">
    <%= f.label :speaker_id %><br />
    <%= collection_select(:speaker, :id, Person.all, :id, :selectOptions, options ={:prompt => "Select a Speaker"}, :class =>"people")%>
  </div>
  <div class="field">
    <%= f.label :helper_id %><br />
    <%= collection_select(:speaker, :id, Person.all, :id, :selectOptions, options ={:prompt => "Select a Helper"}, :class =>"people")%>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= collection_select(:speaker, :id, Institution.all, :id, :name, options ={:prompt => "Select a Institution"}, :class =>"institution")%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
