<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :speaker_id %><br />
    <%= f.number_field :speaker_id %>
  </div>
  <div class="field">
    <%= f.label :helper_id %><br />
    <%= f.number_field :helper_id %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.text_field :institution_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
