    <div data-role="header" data-theme="d">
        <h1>Sessions At A Glance</h1>
        <a href="<%= root_path %>" data-icon="home" data-direction="reverse" class="ui-btn-left">Home</a>
    </div><!-- /header -->

    <%= link_to 'New Session', new_session_path  if Rails.env.development? %>

    <div data-role="content">
        <div class="content-primary">
            <ul data-role="listview">
                <% @sessions.each do |slot| %>
                  <% slot.each_with_index do |session,i| %>
                    <% if (i == 0) %>
                      <li data-role="list-divider">
                        <%= "#{session.slot.start.strftime("%I:%M%p")} - #{session.slot.finish.strftime("%I:%M%p")}" %>
                      </li>
                    <% end %>
                    <li><a href="<%= session_path(session) %>">
                      <h3><%= session.title %></h3>
                      <p><strong><%= "#{session.speaker.first_name} #{session.speaker.last_name}" %></strong></p>
                      <p><%= session.description %></p>
                      <p class="ui-li-aside"><strong><%= session.location.name %></strong></p>
                    </a></li>
                    <%= link_to 'Show', session  if Rails.env.development? %>
                    <%= link_to 'Edit', edit_session_path(session)  if Rails.env.development? %>
                    <%= link_to 'Destroy', session, confirm: 'Are you sure?', method: :delete if Rails.env.development?%>
                  <% end %>
                <% end %>
            </ul><!--/listview -->
        </div><!--/content-primary -->      
    </div><!-- /content -->

