<div data-role="page" data-title="Session Details | Evisions Conference 2012">

  <div data-role="header" data-theme="d">
    <h1>Session Details</h1>
    <a href="<%= sessions_path %>" data-icon="back" data-direction="reverse" class="ui-btn-left">Back</a>
  </div><!-- /header -->

  <div data-role="content" data-theme="c" id="skyline">
    <h2><%= @session.title %></h2>
    <div class="collapsible-area">
      <div data-role="collapsible" data-theme="b" data-content-theme="c">
        <h3>About <%= "#{@session.speaker.first_name} #{@session.speaker.last_name}" %></h3>
        <p><%= @session.speaker.bio %></p>
      </div>
    </div>

    <p><%= @session.description %></p>
  </div>
</div>
