  <div data-role="header" data-theme="d">
    <h1>Speakers</h1>
    <a href="<%= root_path %>" data-icon="home" data-direction="reverse" class="ui-btn-left">Home</a>
  </div><!-- /header -->

  <%= link_to 'New Person', new_person_path if Rails.env.development? %>

  <div data-role="content">
      <ul data-role="listview" data-inset="true" >
        <% @people.each do |person| %>
          <li><a href="<%= person_path(person) %>">
            <h3><%= "#{person.first_name} #{person.last_name}" %></h3>
            <p><strong>title, company</strong></p>
          </a></li>
          <%= link_to 'Show', person  if Rails.env.development? %>
          <%= link_to 'Edit', edit_person_path(person)  if Rails.env.development? %>
          <%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete if Rails.env.development?%>
        <% end %>
      </ul><!--/listview -->  
  </div><!-- /content -->