	<div data-role="content">	
		<div id="logo">
			<h1><%= link_to image_tag("ec2012logo.png", :alt => "Evisions Conference 2012"), root_path %>
			</h1>
		</div>
			
		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
			<li><%= link_to "Sessions", sessions_path %></li>
			<li><%= link_to "Speakers", people_path %></li>
			<li><%= link_to "Products", product_path %></li>	
			<li><%= link_to "Attendees", "#" %></li>
		</ul>		
	</div><!-- /content -->
