	<div data-role="header" data-theme="d">
        <h1>Evisions Products</h1>
        <a href="<%= root_path %>" data-icon="home" data-direction="reverse" class="ui-btn-left">Home</a>
    </div><!-- /header -->

	<div data-role="content">	
		<h3>Products</h3>
		<p>From installation and configuration to training and use, Evisions makes it simple and easy every step of the way.  With over 900 clients world-wide, Evisions products are time-tested and industry proven.  And because we offer enterprise licensing and the most affordable solutions available, organizations of any and all sizes can enjoy a quick return on their investment.</p>
			
		<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
			<li><a href="http://www.evisions.com/Products/ArgosEnterpriseReporting/Overview.aspx">
				<h3><%= image_tag("argos.gif", :alt => "Argos", :style=>"vertical-align:text-top;")%>
				Argos</h3>
				<p><strong>Enterprise Reporting Solution</strong></p>
				<p>Argos, an enterprise web-based reporting solution that delivers operational and strategic reports for your entire organization.</p>
			</a></li>
			<li><a href="http://www.evisions.com/Products/DataMasqueDataTransformation/Overview.aspx">
				<h3><%= image_tag("datamasque.gif", :alt => "DataMasque", :style =>"vertical-align:text-top;")%>
				DataMasque</h3>
				<p><strong>Data Transformation Solution</strong></p>
				<p>Remove Personally Identifiable Information (PII) from any SQL-compliant database. Increase compliance with privacy regulations and audits while eliminating complex script development and maintenance.</p>
			</a></li>
			<li><a href="http://www.evisions.com/Products/FormFusionDocumentEnhancement/Overview.aspx">
				<h3><%= image_tag("formfusion.gif", :alt => "FormFusion", :style=>"vertical-align:text-top;")%>	
				FormFusion</h3>
				<p><strong>Document Enhancement & Distribution Solution</strong></p>
				<p>FormFusion, a document enhancement and management solution puts the design and electronic delivery of output in your hands.</p>
			</a></li>
			<li><a href="http://www.evisions.com/Products/IntelleCheckPaymentProcessing/Overview.aspx">
				<h3><%= image_tag("intellecheck.gif", :alt => "IntelleCheck", :style=>"vertical-align:text-top;")%>
				IntelleCheck</h3>
				<p><strong>Payment Processing Solution</strong></p>
				<p>IntelleCheck, a payment processing solution enhances and streamlines disbursements for Accounts Payable, Payroll, Student Refund checks and Direct Deposit Advices.</p>
			</a></li>
			<li><a href="http://www.cayuse.com/solutions/index.php">
				<h3><%= image_tag("cayuse-horse.gif", :alt => "Cayuse", :style=>"vertical-align:text-top;")%>
				Cayuse Research Suite</h3>
				<p><strong>Proposal Development Solutions</strong></p>
				<p>A web-based suite of applications designed to manage complexity, reduce administrative costs, and improve collaboration across the research enterprise</p>
			</a></li>

		</ul>		
	</div><!-- /content -->
