<h1>Listing userlevels</h1>

<table>
  <tr>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userlevels.each do |userlevel| %>
  <tr>
    <td><%= userlevel.desc %></td>
    <td><%= link_to 'Show', userlevel %></td>
    <td><%= link_to 'Edit', edit_userlevel_path(userlevel) %></td>
    <td><%= link_to 'Destroy', userlevel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userlevel', new_userlevel_path %>
